/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  color: #212121;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.logo {
  color: #2196F3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-top: 24px;
  margin-bottom: 25px;
}

.modal {
  position: absolute;
  color: #212121;
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal .modal-form {
  display: block;
  padding: 40px;
  height: 100%;
  cursor: pointer;
}
.modal .modal-form__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal .modal-form__label {
  color: #757575;
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 10px 0 4px;
}

.modal-form__input {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid #dad8d8;
  border-radius: 5px;
  padding-left: 36px;
  cursor: pointer;
  outline: none;
}
.modal-form__input:hover, .modal-form__input:focus {
  border: 2px solid #2196F3;
}

.modal-form__icon {
  position: absolute;
  left: 50px;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.modal-form__icon:hover {
  fill: #2196F3;
}
#user_name:hover + .modal-form__icon, #user_name:focus + .modal-form__icon {
  fill: #2196F3;
}
#phone:hover + .modal-form__icon, #phone:focus + .modal-form__icon {
  fill: #2196F3;
}
#email:hover + .modal-form__icon, #email:focus + .modal-form__icon {
  fill: #2196F3;
}

.modal-form-field {
  color: #757575;
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 10px 0 4px;
}

.modal-form__text {
  width: 100%;
  height: 120px;
  border: 1px solid #dad8d8;
  border-radius: 5px;
  resize: none;
  padding: 16px 12px;
  outline: none;
}
.modal-form__text:hover, .modal-form__text:focus {
  border: 2px solid #2196F3;
}

.modal-form-label {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.modal-form-label .modal-form-label-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.modal-form-label .checkbox-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
  margin-top: 5px;
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 2px;
  fill: #2196F3;
  -webkit-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.modal-form-label .checkbox-icon {
  width: 100%;
  height: 100%;
}
.modal-form-label .modal-form-label-checkbox:checked + .checkbox-icon-container {
  border-color: #2196F3;
  background-color: #2196F3;
}
.modal-form-label .modal-form-label-checkbox:focus + .checkbox-icon-container {
  border-color: #2196F3;
  background-color: #2196F3;
}
.modal-form-label .checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.btn-submit {
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
}

.modal-btn-close {
  position: absolute;
  top: 17px;
  right: 17px;
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}

.modal-icon__close {
  fill: #000000;
  -webkit-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.modal-icon__close:hover, .modal-icon__close:focus {
  fill: #2196F3;
}

.social-networks__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 20px;
  cursor: pointer;
  list-style: none;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.social-networks__items .social-networks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-networks-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  line-height: 1.87;
  -webkit-transition-property: #2196F3;
  -o-transition-property: #2196F3;
  transition-property: #2196F3;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.social-networks-link:hover, .social-networks-link:focus {
  background-color: #2196F3;
}

.social-networks-icon {
  fill: #AFB1B8;
  -webkit-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.social-networks-icon:hover, .social-networks-icon:focus {
  fill: #FFFFFF;
  cursor: pointer;
}

.page-footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.page-footer .footer-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer__address .footer__items {
  list-style: none;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}
.footer__address .footer__list {
  color: #FFFFFF;
  width: 231px;
  height: 21px;
  margin-top: 9px;
  margin-bottom: 23px;
  }

.footer__email {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.footer__email:hover, .footer__email:focus {
  color: #2196F3;
}

.footer__telephone {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.footer__telephone:hover, .footer__telephone:focus {
  color: #2196F3;
}

.footer-social-nekworks__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social-networks-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-right: 100px;
  cursor: pointer;
  list-style: none;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}

.footer-social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 25px;
  background-color: #3e4155;
  line-height: 1.87;
  -webkit-transition-property: #2196F3;
  -o-transition-property: #2196F3;
  transition-property: #2196F3;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.footer-social-networks__link:hover, .footer-social-networks__link:focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 25px;
  background-color: #2196F3;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.87;
}
.footer-social-networks__link .footer-social-networks__icon {
  fill: #FFFFFF;
}

.footer-form__title {
  color: #FFFFFF;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-form .footer-form__input {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  width: 400px;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 15px 16px;
  outline: none;
}
.footer-form .footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background-color: #2196F3;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin-left: 10px;
  border: 0;
  border-radius: 5px;
}
.footer-form .footer-form__icon {
  top: 8px;
  right: 0;
  margin-left: 20px;
}

.section-btn__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 8px;
  padding-bottom: 56px;
}

.section-btn__list {
  color: #212121;
  background-color: #F5F4FA;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.62;
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 145px;
  height: 38px;
  -webkit-transition-property: #2196F3;
  -o-transition-property: #2196F3;
  transition-property: #2196F3;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.section-btn__list:hover, .section-btn__list:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.page-header .container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  text-decoration: none;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  text-decoration: none;
}
.header__nav .header__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 62px;
}
.header__nav .header__nav-link--studio {
  position: relative;
  color: #2196F3;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 0.86;
  text-align: left;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.header__nav .header__nav-link--studio:hover,
.header__nav .header__nav-link--studio:focus {
  color: #212121;
}
.header__nav .header__nav-link--studio::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: #2196F3;
  -webkit-transition-property: #2196F3;
  -o-transition-property: #2196F3;
  transition-property: #2196F3;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
  height: 4px;
  color: #2196F3;
  border-radius: 2px;
}
.header__nav .header__nav-link--portfolio {
  position: relative;
  color: #2196F3;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 0.87;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.header__nav .header__nav-link--portfolio:hover,
.header__nav .header__nav-link--portfolio:focus {
  color: #2196F3;
}
.header__nav .header__nav-link--portfolio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #2196F3;
  border-radius: 2px;
  height: 4px;
  color: #2196F3;
}
.header__nav .header__nav-link {
  color: #212121;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 0.87;
  text-align: left;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.header__nav .header__nav-link:hover,
.header__nav .header__nav-link:focus {
  color: #2196F3;
}

.header-contacs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  gap: 30px;
}
.header-contacs .header-contacs__items:hover use,
.header-contacs .header-contacs__items:focus use {
  fill: #2196F3;
}
.header-contacs .header-contacs__email {
  color: #757575;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 0.86;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.header-contacs .header-contacs__email:hover,
.header-contacs .header-contacs__email:focus {
  color: #2196F3;
}
.header-contacs .header-contacs__icon {
  fill: #757575;
  margin-right: 10px;
}
.header-contacs .header-contacs__telephone {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 1.71;
  text-align: left;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.header-contacs .header-contacs__telephone:hover,
.header-contacs .header-contacs__telephone:focus {
  color: #2196F3;
}

.hero {
  color: #FFFFFF;
  background-color: #2F303A;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg.jpg);
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
}
.hero .hero__title {
  color: #FFFFFF;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
}
.hero .hero__button {
  color: #FFFFFF;
  background-color: #2196F3;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: 0;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.hero .hero__button:hover,
.hero .hero__button:focus {
  color: #212121;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition-property: #FFFFFF;
  -o-transition-property: #FFFFFF;
  transition-property: #FFFFFF;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
  cursor: pointer;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.section-benefist .section-benefist__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  gap: 30px;
}
.section-benefist .section-benefist__icons {
  background-color: #F5F4FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 20px;
}
.section-benefist .section-benefist__titles {
  color: #212121;
  font-weight: 700;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.14;
  margin-top: 30px;
}
.section-benefist .section-benefist__text {
  color: #757575;
  font-weight: 400;
  line-height: 1.71;
  text-align: left;
  margin-top: 19px;
}

.section__title--service {
  margin-bottom: 50px;
}

.section-benefist__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  gap: 30px;
}
.section-benefist__items .section-service__images {
  position: relative;
}
.section-benefist__items .section-service__text {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.6);
  line-height: 70px;
}

.section-team {
  background-color: #F5F4FA;
}
.section-team .section__title--team {
  margin-bottom: 50px;
}
.section-team .section-team__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 30px;
}

.section-team__list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.section-team__list .section-team__name {
  font-family: "Roboto";
  font-style: bond;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  margin-top: 30px;
}
.section-team__list .section-team__profesion {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.section-custom .section__title--custom {
  margin-bottom: 44px;
}
.section-custom .section-custom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 30px;
  padding: 0;
}
.section-custom .section-custom__links {
  border: 1px solid #AFB1B8;
  width: 170px;
  height: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-transition-property: border;
  -o-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.section-custom .section-custom__icons {
  fill: #AFB1B8;
  -webkit-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.section-custom .section-custom__links:hover .section-custom__icons,
.section-custom .section-custom__links:focus .section-custom__icons {
  fill: #2196F3;
  cursor: pointer;
}
.section-custom .section-custom__links:hover,
.section-custom .section-custom__links:focus {
  border: 1px solid #2196F3;
}

.cards__items {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 26px;
  list-style: none;
}

.cards__list {
  border: 1px solid #EEEEEE;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.cards__list:hover .cards__text {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.cards__body {
  position: relative;
  overflow: hidden;
}
.cards__body .cards__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  -webkit-transform: translatey(101%);
      -ms-transform: translatey(101%);
          transform: translatey(101%);
  -webkit-transition-property: rgba(33, 150, 243, 0.9);
  -o-transition-property: rgba(33, 150, 243, 0.9);
  transition-property: rgba(33, 150, 243, 0.9);
  -webkit-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}
.cards__body .cards__text > p {
  color: #FFFFFF;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__description {
  padding: 20px 24px;
}
.cards__description .cards__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: Left;
  letter-spacing: 0.06;
  width: 322px;
}
.cards__description .cards__paragraph {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  text-align: Left;
  font-size: 16px;
  width: 322px;
  height: 30px;
}

.menu-toggle {
  position: absolute;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  top: 16px;
  right: 22px;
  transition-property: fill;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.menu-toggle__color:hover,
.menu-toggle__color:hover{
  fill: #2196F3;
  -webkit-transition-property: fill;
  -o-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
  -o-transition-delay: 0;
          transition-delay: 0;
}

.menu-toggle__close-color:hover{
  fill: #2196F3;
  -webkit-transition-property: fill;
  -o-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}


.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #FFFFFF;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.mobile-menu__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1,17;
  letter-spacing: 0.02em;
  padding: 10px;
  color: #212121;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.mobile-menu__link:hover{
  color: #2196F3;
}

.mobile-contacts{
  display: block;
  list-style: none;
  margin-top: 250px;
  gap: 32px;
}

.mobile-contacts__phone{
  font-family: 'Roboto';
  color: #2196F3;
  font-weight: 500;
  font-size: 34px;
  line-height: 1,17;
  letter-spacing: 0.02em;
}

.mobile-contacts__email{
  font-family: 'Roboto';
  color:#757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1,16;
  letter-spacing: 0.02em;
}

.mobile-contacts__phone + .mobile-contacts__email{
  margin-top: 32px;
}

.mobile-networks{
  display: flex;
  list-style: none;
  bottom: 0px;
  margin-top: 64px;
}

.mobile-networks__links{
  color: #2196F3;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  margin: 10px;
}

.linea-vertical{
  display: flex; 
  width: 1px; 
  height: 22px; 
  border-left:  1px solid rgba(33, 33, 33, 0.2); 
  vertical-align: middle;
  margin-right: 10px;
}


/* Media query*/

/*@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
*/

@media (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}

/*  480   */

@media screen and (min-width: 480px) {
  .container{
    width: 480px;
    margin: auto;
  }
  .section{
    padding: 60px 0;
  }
  .logo{
    font-size: 24px;
    line-height: 1.16;
  }
  .header__nav {
    display: none;
  }
  .header-contacs{
    display: none;
  }
  .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 480px; ;
    height: 400px;
    margin: 0 auto; 
    padding: 118px 0;
    background-image:   
    linear-gradient (to right, 
    rgba(47,48,58,0.4), 
    rgba(47,48,58,0.4)),
    url(../images/bg-d.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero .hero__title{
    width: auto;
    font-size: 26px;
    line-height: 1.61;
  }
  .hero .hero__button{
    font-size: 14px;
  }
  .section-benefist__items{
    display: flex;
    flex-wrap: wrap;
  }
  .section-benefist .section-benefist__icons{
    width: 100%;
  }

  .section-service{
    display: none;
  }
  .section-team .section-team__items {
    flex-direction: column;
    align-items: flex-start;
  }
  img{
    width:450px;
    height: auto;
  }
  .section-team__list .section-team__name{
    width:450px;
  }
  .section-team__list .section-team__profesion{
    width:450px;
  }
  
  .section__title--custom{
    text-align: start;
    padding-left: 55px;
  }
  .section-custom .section-custom__list{
    display: flex;
    flex-wrap: wrap;
  }
  .section-custom .section-custom__links {
    width: 210px;
    height: 92px;
  }
  .footer-style{
    text-align: center;
    flex-direction: column;
  }
  .footer__address{
    margin: 28px;
  }
  .footer-social-nekworks__title{
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .footer-social-networks-items{
    margin-right: 0px;
    margin-bottom: 60px;
  }
  .footer-form{
    flex-direction: column;
    align-items: center;
  }
  .footer-form .footer-form__input{
    margin-bottom: 20px;
  }
  .modal {
    width: 450px;
    height: 609px;
  }
}

/*@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx ) {
  background-image:
  linear-gradient (rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/bg@2x.jpg);
  }*/

/*  768   */

@media screen and (min-width:490px) and (min-width: 768px){
  .container{
    width: 768px;
    }
    .section{
      padding: 60px 0;
    }
  .page-header .container__header{
    gap: 50px;
    justify-content: space-between;
  }
  .header__nav .header__nav-link--studio {
    font-size: 14px;
    line-height: 1.14;
  }
  .header-contacs{
    display: inline-block;
  }
  .header-contacs .header-contacs__items{
    font-size: 12px;
    line-height: 1.16;
  }
  .header-contacs__icon--email{
    width: 14px;
    height: 10px;
  }
  .header-contacs__icon--phone{
    width: 10px;
    height: 14px;
  }
  .hero{
    max-width: 768px;
    height: 400px;
    margin: 0 auto; 
    padding: 118px 0;
    background-image:   
    linear-gradient (to right, 
    rgba(47,48,58,0.4), 
    rgba(47,48,58,0.4)),
    url(../images/bg-t.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero .hero__title{
    width: auto;
    font-size: 26px;
    line-height: 2.6;
  }
  .hero .hero__button{
    font-size: 14px;
  }
  .section-benefist .section-benefist__items{
    flex-direction: row;
    align-items: flex-start;
    flex-basis: calc(( 100% - 60px)/2);
    display: flex;
    flex-wrap: wrap;
  }
  .section-benefist .section-benefist__icons {
    width: 100%;
    height: 120px;
  }
  .section-benefist__titles{
    max-width: 354px;
  }
  .section-benefist__text{
    max-width: 354px;
  }
  .section-service{
    display: none;
  }
  .section-team .section-team__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    flex-basis: calc(( 100% - 60px)/2);
  }
  img{
    width:354px;
    height: auto;
  }
  .section__title--custom{
    text-align: center;
  }
  .section-custom .section-custom__list{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section-custom .section-custom__links {
    width: 226px;
    height: 92px;
  }
  .page-footer{
    text-align: center;
  }
  .footer-style{
    flex-wrap: wrap;
    justify-content:space-around ;
  }
  .footer-social-networks-items {
    margin-right:0;
  }

  .footer__form{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
  }
  .footer-form .footer-form__input{
    width: 450px;
    margin-bottom: 20px;
  }
  .footer-form .footer-form__input{
    width: 450px;
    margin-bottom: 20px;
  }
  .footer-form .footer-form__btn{
    margin-left: 115px;
  }
  .footer-form{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 150px;
  } 
  .modal {
    width: 450px;
    height: 609px;
  }
}

/*@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
  screen and (min-resolution: 192dpi) and (min-width:768px),
  screen and (min-resolution: 2dppx ) and (min-width:768px) {
  background-image:
  linear-gradient(to right, 
    rgba(47,48,58,0.4), 
    rgba(47,48,58,0.4)),
    url("../images/bg-t@2x.jpg");
  }*/

/*  1200  */
@media creen and (min-width: 1200px){
  .container{
    min-width: 1200px;
  }
  .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px; ;
    height: 400px;
    margin: 0 auto; 
    padding: 200px 0;
    background-image:   
    linear-gradient (to right, 
    rgba(47,48,58,0.4), 
    rgba(47,48,58,0.4)),
    url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
/*@media screen and (min-device-pixel-ratio: 2) and (min-width:1200px),
  screen and (min-resolution: 192dpi) and (min-width:1200px),
  screen and (min-resolution: 2dppx ) and (min-width:1200px) {
  background-image: linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
  url(../images/bg@2x.jpg);
  }