{
    "prinWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxBracktSpacing": true,
    "arrowParens": "avoid",
    "proseWrap": "always" 
}