.footer-social-nekworks__title{
    color: $color-terceario;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 20px;
}
.footer-social-networks-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 60px;
    cursor: pointer;
    list-style: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: 
    $cubic;
    transition-delay: 0;
}
.footer-social-networks__link{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 25px;
    background-color: #3e4155;
    line-height: 1.87;
    transition-property:
    $background-color-principal;
    transition-duration: 250ms;
    transition-timing-function: 
    cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.footer-social-networks__link:hover,
.footer-social-networks__link:focus {
    display: flex;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 25px;
    background-color: $background-color-principal;
    text-align: center;
    align-items: center;
    line-height: 1.87;
}
.footer-social-networks__icon{
    fill: $color-terceario;
}

@media screen and (min-width: 480px){
    .footer-social-nekworks__title{
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .footer-social-networks-items{
        margin-right: 0px;
        margin-bottom: 60px;
    }
}

@media screen and (min-width:768px) and (max-width: 1199px){
    .footer-social-nekworks__title {
        margin: 0px;
    }
    .footer-social-networks-items {
        margin-right:0;
    }
}
@media screen and (min-width:1200px){
    .footer-social-nekworks__title{
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .footer-social-networks-items{
        margin-right: 0px;
        margin-bottom: 0px;
    }

}
