.page-footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-style {
    display: flex;
}
.footer__address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    .footer__items{
        list-style: none;
        display: inline-block;
        flex-direction: column;
        margin: auto;
    }
        .footer__list{
            color: $color-terceario;
            width: 231px;
            height: 21px;
            margin-top: 9px;
            margin-bottom: 23px;
        }
}
.footer__email{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    line-height: 1.71;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: 
    cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.footer__email:hover,
.footer__email:focus {
    color: $color-secundario;

}
.footer__telephone{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    line-height: 1.71;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: 
    cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.footer__telephone:hover,
.footer__telephone:focus {
    color: $color-secundario;
}

@media screen and (min-width: 480px){
    .footer-style{
        text-align: center;
        flex-direction: column;
    }
    .footer__address{
        margin: 28px;
    }
}

@media screen and (min-width:768px){
    .page-footer{
        text-align: center;
    }
    .footer-style {
        flex-wrap: wrap;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
    }
}


