.logo{
    color: $color-secundario;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    margin-top: 24px;
    margin-bottom: 25px;
} 

@media screen and (min-width: 1200px){
    .logo{
        font-size: 26px;
        margin-top: 24px;
        line-height: 1.19;
        margin-bottom: 25px;
    }
}