.modal {
    position: absolute;
    color: $color-principal;
    width: 528px;
    height: 581px;
    background-color: $color-terceario;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    .modal-form{
        display: block;
        padding: 40px;
        height: 100%;
        cursor: pointer;
    }

    .modal-form__title{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 12px;
    }

        .modal-form__label{
            color: #757575;
            display: inline-block;
            width: 100%;
            text-align: left;
            margin: 10px 0 4px;
        }
}

.modal-form__input{
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid #dad8d8;
    border-radius: 5px;
    padding-left: 36px;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
        border: 2px solid $color-secundario;
    }
} 

.modal-form__icon{
    position: absolute;
    left: 50px;
    transform: translateY(50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: 
    $cubic;
    transition-delay: 0;

    &:hover {
        fill: $color-secundario;
    }

    #user_name:hover+&,
    #user_name:focus+&{
        fill: $color-secundario;
    }
    
    #phone:hover+&,
    #phone:focus+&{
        fill: $color-secundario;
    }
    
    #email:hover+&,
    #email:focus+&{
        fill: $color-secundario;
    }
}

.modal-form-field{
    color: #757575;
    display: inline-block;
    width: 100%;
    text-align: left;
    margin: 10px 0 4px;
}

.modal-form__text{
    width: 100%;
    height: 120px;
    border: 1px solid #dad8d8;
    border-radius: 5px;
    resize: none;
    padding: 16px 12px;
    outline: none;

    &:hover,
    &:focus {
        border: 2px solid $color-secundario;
    }
}

// checkbox //

.modal-form-label{
    flex-direction: row;
    margin-bottom: 0;
    align-items: center;
    display: flex;
    align-items: flex-start;

    .modal-form-label-checkbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
    }
    
    .checkbox-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 7px;
        margin-top: 5px;
        width: 16px;
        height: 15px;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 2px;
        fill: $color-secundario;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: 
        $cubic;
        transition-delay: 0;
    }

    .checkbox-icon {
        width: 100%;
        height: 100%;
    }
    .modal-form-label-checkbox:checked+.checkbox-icon-container {
        border-color: $color-secundario;
        background-color: $color-secundario;
    }
    .modal-form-label-checkbox:focus+.checkbox-icon-container {
        border-color: $color-secundario;
        background-color: $color-secundario;
    }
    .checkbox-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        color: #757575;
    }
}

.btn-submit {
    color: $color-terceario;
    background-color: $background-color-principal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

@media screen and (min-width: 480px){
    .modal {
        width: 450px;
        height: 609px;
    }
}

@media screen and (min-width:768px){
    .modal {
        width: 450px;
        height: 609px;
    }
}
