$color-principal:#212121;
$color-secundario: #2196F3;
$color-terceario: #FFFFFF;
$background-color-principal:#2196F3;
$background-color-secundary:rgba(33, 150, 243, 0.9);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);