.section-benefist{
    .section-benefist__items{
        list-style: none;
        gap: 30px;
    }

    .section-benefist__icons{
        background-color: #F5F4FA;
        display: flex;
        /*width: 450px;*/
        height: 120px;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .section-benefist__titles{
        color: $color-principal;
        font-weight: 700;
        align-items: center;
        line-height: 1.14;
        margin-top: 30px;
    }
    .section-benefist__text{
        color: #757575;
        font-weight: 400;
        line-height: 1.71;
        text-align: left;
        margin-top: 19px;
    }
}

@media screen and (min-width:768px) and (max-width: 1199px){
    .section-benefist .section-benefist__items{
        flex-direction: row;
        align-items: flex-start;
        flex-basis: calc(( 100% - 60px)/2);
        display: flex;
        flex-wrap: wrap;
    }
    .section-benefist .section-benefist__icons{
        width: 354px;
        height: 120px;
    }
    .section-benefist__titles{
        max-width: 354px;
    }
    .section-benefist__text{
        max-width: 354px;
    }
}

@media screen and (min-width:1200px){
    .section-benefist__items{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
        flex-basis: calc(( 100% - 120px)/4);
    }
    .section-benefist .section-benefist__icons{
        width: 270px;
    }
}