.section-custom{
    .section__title--custom{
        display: flex;
        justify-content: center;
        margin-bottom: 44px;
    }

    .section-custom__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
        padding: 0;
    }     
}
.section-custom__links{
    border: 1px solid #AFB1B8;
    width: 45%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: 
    cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover,
    &:focus {
        border: 1px solid $color-secundario;
    }

    &:hover .section-custom__icons,
    &:focus .section-custom__icons{
        fill: $color-secundario;
        cursor: pointer;
    }
        .section-custom__icons{
            fill: #AFB1B8;
            transition-property: fill;
            transition-duration: 250ms;
            transition-timing-function: 
            cubic-bezier(0.4, 0, 0.2, 1);
            transition-delay: 0;
        }
}

/*@media screen and (min-width: 480px) and (max-width: 767px){
    .section__title--custom{
        text-align: start;
        
    }
    .section-custom .section-custom__list{
        display: flex;
        flex-wrap: wrap;
    }
    .section-custom .section-custom__links {
        width: 210px;
        height: 92px;
    }
}*/

@media screen and (min-width:768px) and (max-width: 1199px){
    .section__title--custom{
        text-align: center;
    }
    .section-custom .section-custom__list{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section-custom .section-custom__links {
        width: 226px;
        height: 92px;
    }
}
@media screen and (min-width:1200px){
    .section-custom .section-custom__list{
        display: flex;
    }
    .section-custom .section-custom__links {
        width: 170px;
        height: 81px;
    }
}

