.page-header{
    .container__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 75px;
        text-decoration: none;
    }
}
.header__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    text-decoration: none;

    .header__nav-items{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 62px;
    }
}
.header__nav-link--studio{
    position: relative;
    color: $color-secundario;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 0.86;
    text-align: left;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: 
    cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover,
    &:focus {
        color: $color-principal;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        background-color: $color-secundario;
        transition-property: $background-color-principal;
        transition-duration: 250ms;
        transition-timing-function: 
        cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
        height: 4px;
        color: $color-secundario;
        border-radius: 2px;
    }
}
.header__nav-link--portfolio{
    position: relative;
    color: $color-secundario;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 0.87;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: 
    cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover,
    &:focus {
        color: $color-secundario;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: 
        $color-secundario;
        border-radius: 2px;
        height: 4px;
        color: $color-secundario;
    }
}
.header__nav-link{
    color: $color-principal;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 0.87;
    text-align: left;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: 
    cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
.header__nav-link:hover,
.header__nav-link:focus {
    color: $color-secundario;
}
.header-contacs{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 30px;

    .header-contacs__items:hover use,
    .header-contacs__items:focus use {
        fill: $color-secundario;
    }
    .header-contacs__email{
        color: #757575;
        font-family: "Roboto";
        font-weight: 500;
        line-height: 0.86;
        letter-spacing: 0.02em;
        padding-top: 32px;
        padding-bottom: 32px;
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: 
        cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
    }
    .header-contacs__email:hover,
    .header-contacs__email:focus {
        color: $color-secundario;
    }
    .header-contacs__icon{
        fill: #757575;
        margin-right: 10px;
    }
    .header-contacs__telephone{
        color: #757575;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        line-height: 1.71;
        text-align: left;
        padding-top: 32px;
        padding-bottom: 32px;
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: 
        cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
    }
    .header-contacs__telephone:hover,
    .header-contacs__telephone:focus {
        color: $color-secundario;
    }
}