.hero {
    color: $color-terceario;
    background-color: #2F303A;
    text-align: center;
    padding: 118px 0;
    width: auto;
    height: auto;
    background-image:
        linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bg-d.jpg);
    background-position: center;
    background-size: cover;

    .hero__title {
        color: $color-terceario;
        width: 100%;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
        text-align: center;
        letter-spacing: 0.06em;
        margin-left: auto;
        margin-right: auto;
    }

    .hero__button {
        color: $color-terceario;
        background-color: $background-color-principal;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.06em;
        padding: 10px 19px;
        border: 0;
        cursor: pointer;
        text-align: center;
        margin-top: 30px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: 
        cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
    }
    .hero__button:hover,
    .hero__button:focus {
        color: $color-principal;
    }
}

@media screen and (min-width: 480px) {
    .hero{
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        margin: 0 auto; 
        padding: 118px 0;
        background-image:   
        linear-gradient (to right, 
        rgba(47,48,58,0.4), 
        rgba(47,48,58,0.4)),
        url(../images/bg-d.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .hero .hero__title{
        width: auto;
        font-size: 26px;
        line-height: 1.61;
    }
    .hero .hero__button{
        font-size: 14px;
    }
}
@media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx ){
        .hero{
            background-image: linear-gradient(to right,  rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
            url(../images/bg-d@2x.jpg);
        }
}

@media screen and (min-width:768px){
    .hero{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        margin: 0 auto; 
        padding: 118px 0;
        background-image:   
        linear-gradient (to right, 
        rgba(47,48,58,0.4), 
        rgba(47,48,58,0.4)),
        url(../images/bg-t.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .hero .hero__title{
        width: auto;
        font-size: 26px;
        line-height: 2.6;
    }
    /*.hero .hero__button {
        width: 100%;
    }*/
}
@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
    screen and (min-resolution: 192dpi) and (min-width:768px),
    screen and (min-resolution: 2dppx ) and (min-width:768px) {
        .hero{
            background-image: linear-gradient(to right, 
            rgba(47,48,58,0.4), 
            rgba(47,48,58,0.4)),
            url(../images/bg-t@2x.jpg);
        }
}

@media screen and (min-width:1200px){
    .hero{
        color: $color-terceario;
        background-color: #2F303A;
        text-align: center;
        align-items: center;
        padding: 200px 0;
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-image:
            linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/bg.jpg);
        background-position: center;
        background-size: cover;
    }
    .hero .hero__title {
        color: $color-terceario;
        width: 696px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        margin-left: auto;
        margin-right: auto;
    }
    .hero .hero__button {
        width: 20%;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:1200px),
    screen and (min-resolution: 192dpi) and (min-width:1200px),
    screen and (min-resolution: 2dppx ) and (min-width:1200px) {
        .hero{
            background-image: linear-gradient(to right, 
            rgba(47,48,58,0.4), 
            rgba(47,48,58,0.4)),
            url(../images/bg@2x.jpg); 
        }
}